<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 table">
      <h1>Users</h1>
      <% @users.each do |user| %>
      <ul>
        <li><%= link_to user.email, user_path(user) %></li>
      </ul>
      <% end %>
      <button type="button" class="btn btn-info active"><%= link_to 'Back', root_path %></button>
    </div>
  </div>
</div>
